.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app .header .name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: #303030;
}

.app .header .logo {
  width: 100%;
}

.app .main {
  display: flex;
  justify-content: center;
  align-self: center;
}

.app .main > div {
  margin: 0 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  width: 322px;
}

@media (max-width: 768px) {
  .app .main {
    flex-direction: column;
  }

  .app .main > div {
    margin: 0 0 20px 0;
  }
}
