/* add css styles here (optional) */

.poll {
  /* border: 1px solid #7c47b9; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
  padding: 10px;
}

.poll * {
  box-sizing: border-box;
}

.poll .question {
  color: rgb(58, 58, 58);
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.poll .answers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}


.poll .answers li {
  width: 100%;
  margin: 5px 0;
}

.poll .answers .option, .poll .answers .result {
  color: #6d4b94;
  font-weight: bold;
  border: 2px solid #7c6497;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px;
  transition: all 0.3s ease;
  outline: 0;
  font-family: inherit;
  background-color: inherit;
}

.poll .answers .option:hover, .poll .answers .option:active {
	background: #6d4b943b;
  /* color: #fff; */
}

.poll .answers .result {
  height: 42px;
  padding: 0;
  cursor: default;
  position: relative;
}

.poll .answers .result .fill {
  width: 20%;
  background-color: #6d4b943b;
  height: 100%;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.poll .answers .result .labels {
  position: absolute;
  top: calc(19px - 9px);
}

.poll .answers .result .percent {

  margin-left: 5px;
  color: #6d4b94;
}

.poll .answers .result .answer {
  margin-left: 15px;
  color: #6d4b94;
  justify-self: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 5px;
}
