.poll {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
  padding: 10px;
}

.poll * {
  box-sizing: border-box;
}

.poll .question {
  color: #3a3a3a;
  text-align: inherit;
  font-weight: normal;
  margin: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #6d4b943b;
}

.poll .answers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.poll .answers li {
  width: 100%;
  margin: 5px 0;
}

.poll .answers .option, .poll .answers .result {
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px;
  transition: all 0.3s ease;
  outline: 0;
  font-family: inherit;
  background-color: inherit;
}

.poll .answers .option:hover, .poll .answers .option:active {
	background: #3030303B;
}

.poll .answers .option.purple:hover, .poll .answers .option.purple:active {
	background: #6d4b943B;
}

.poll .answers .option.red:hover, .poll .answers .option.red:active {
	background: #FF28283B;
}

.poll .answers .option.blue:hover, .poll .answers .option.blue:active {
	background: #283EFF3B;
}

.poll .answers .option.white:hover, .poll .answers .option.white:active {
	background: #ffffff3B;
}

.poll .answers .option.cyan:hover, .poll .answers .option.cyan:active {
	background: #00BCDD3B;
}

.poll .answers .result {
  height: 42px;
  padding: 0;
  cursor: default;
  position: relative;
}

.poll .answers .result .fill {
  width: 0%;
  height: 100%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.poll .answers .result .labels {
  position: absolute;
  top: calc(19px - 9px);
  margin: 0 10px;
  font-size: 16px;
}

.poll .answers .result .answer {
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.poll .answers .result .answer.vote::after {
  content: ' \2713';
}

.poll .votes {
  text-align: inherit;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #3030305e;
}
